/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    
    
}

/* Ensure the body and html take full height and width */
body, html {
    height: 100%;
    width: 100%;
}











/* Top Navigation Bar */
.top-nav {
    position: fixed;
    height: auto;
    width: 100%;
    background-image: url('../images/top_nav.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the navbar */
    background-position:center;
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    padding: 25px 0px 25px 0px;
    transition: top 0.3s ease;
    z-index: 1000;
}


    

    /*Hyperlinks top left*/
        .top-nav .nav-left a,
        .top-nav .nav-right a {
            font-family: Vendetta, sans-serif;
            color: white;
            text-decoration: none;
            margin: 20px 125px 20px 125px;
            font-size: 2.0em;
        }

        



.top-nav .nav-center {
    display: flex;
}

        .top-nav .nav-center img {
            position: absolute;
            height: 200px; 
            width: auto;
            z-index: 1;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


























/* Bottom Navigation Bar */
.bottom-nav {
    position: fixed;
    width: 100%;
    background-image: url('../images/bottom_nav.png'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the navbar */
    background-position:center;
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    padding: 25px 0px 25px 0px;
    transition: bottom 0.3s ease;
    z-index: 1000;
}

    

        .bottom-nav .nav-left a,
        .bottom-nav .nav-right a {
            font-family: Vendetta, sans-serif;
            color: white;
            text-decoration: none;
            margin: 20px 100px 20px 100px;
            font-size: 2.0em;

            
        }

    .bottom-nav .nav-center {
        display:flex;
        }

        .bottom-nav .nav-center img {
            position: absolute;
            height: 200px; 
            width: auto;
            z-index: 1;
            top: 13%;
            left: 50%;
            transform: translate(-50%, -50%);
        }




        
        .background-1 img, .background-0 img, .background--1 img {
            width: 100%;
            height: auto;
            display: block; /* Removes extra space below images */
        }
        


