h1 {
    font-size: 38px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
    text-align: center;
}


.wiki-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.wiki-content img {
    max-width: 100%; /* Makes the image shrink to fit the container width */
    height: auto; /* Maintains the correct aspect ratio */
    display: block; /* Allows for margin auto centering */
    margin: 1em auto; /* Centers the image horizontally and adds some vertical spacing */
}


/* Collapsible Sections */
details {
    margin-bottom: 0.5em;
    padding: 1em;
}

details h1, h2, h3, h4, h5, h6 {
    cursor: pointer;
}

details h2 {
    font-size: 28px;
    text-align: center;
    padding-bottom: 15x;
    border-radius: 10px;
    
}
details summary h2 {
    display: inline-block;  /* Makes the h2 appear on the same line as the caret */
    margin: 0px;              /* Remove default margins to align better */
    vertical-align: middle; /* Align vertically with the summary text */
    
  }
  
 
details h3 {
    font-size: 24px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

details h4 {
    font-size: 20px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

details h5 {
    font-size: 18px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

details h6 {
    font-size: 14px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

details summary {
    display: flex;          /* If you want to perfectly align text and caret */
    align-items: center;
    gap: 2em;             /* Space between caret and text */
  }

details[open] {
    border-color: #999;
}

details[open] summary {
    color: #2c3e50;
}


/* Additional styling for headings, links, etc. */
